*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.idea
.hbuilderx
config/config.js
.DS_Store
node_modules/
unpackage/
/test/unit/coverage/
pages/demo
pages/demo1
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
