const env = {
    appName: '头像挂件工坊',

    // 是否开启debug
    debug: true,

    version: 'Version 1.0.0',

    // 首页跳转小程序配置
    jumpAppId: 'wxf6d3a6785014c8ad',
    jumpAppPath: 'pages/index/index',
    jumpAppId2: 'wx720ac6d7229813a6',
    jumpAppPath2: 'pages/history/history',

    imageCdn: 'https://cdn.xxx.com',
    apiBaseUrl: 'https://api.xxx.com',

    // 默认每天保存次数
    savedCounts: 3,
    // 每次观看视频后加的保存次数
    addCounts: 5,
    countKey: 'TIANYITIAN-COUNT-KEY'

    // 云开发相关
    securityCheck: true,
    cloudEnvId: "cloud1-test",
}

export default env
